{% extends "base.html" %}

{% block title %}blackwiz4rd - Luca Attanasio{% endblock %}

{% block content %}

{% load static %}

	<div id="welcome">
        I<span class="textColor">'</span> M</br>
        LUCA</br>
        ATTANASIO<span class="textColor">.</span></br>
        <h1 class="description">
            STUDENT AT THE</br>
            UNIVERSITY OF PADUA</br>
        </h1>
	</div>


<div id="blank"></div>

<div id="paragraph-one">
	<span>I WAS BORN IN 1996. I AM ATTENDING A MASTER'S DEGREE IN "ICT FOR INTERNET AND MULTIMEDIA" AT THE UNIVERSITY OF PADUA, ITALY. IT'S COOL TO LEARN NEW THINGS EVERY DAY.</span>
	<a href="{% static "home/cv/cv.pdf"%}" download="luca_attanasio_cv.pdf"><button>DOWNLOAD RESUME</button></a></br>
	<a href="{% static "home/cv/transcript.pdf"%}" download="luca_attanasio_transcript.pdf"><button>DOWNLOAD TRANSCRIPT</button></a></br>
	<a href="{% static "home/cv/fce.pdf"%}" download="luca_attanasio_fce.pdf"><button>DOWNLOAD FIRST CERTIFICATE</button></a>
</div>

<div id="paragraph-one">
	<span>MY BACHELOR'S THESIS WAS FOCUSED ON VIDEO STREAMING. I HAVE EVAULUATED VIDEO STREAMING ALGORITHMS BASED ON QUALITY OF EXPERIENCE IN DIFFERENT NETWORK CONDITIONS USING A DASH PLAYER.
	</span>
	<a href="{% static "home/cv/thesis.pdf"%}" download="luca_attanasio_thesis.pdf"><button>DOWNLOAD THESIS</button></a></br>
	<a href="{% static "home/cv/keynote.pdf"%}" download="luca_attanasio_keynote.pdf"><button>DOWNLOAD KEYNOTE</button></a></br>
	<a href="https://github.com/blackwiz4rd/DASHPlayer"><button>DASHPlayer on GITHUB</button></a></br>
	<a href="https://github.com/blackwiz4rd/DASHLogs"><button>DASHLogs on GITHUB</button></a>
</div>

<div id="bg2">
	<div id="paragraph-two">
		<div class="title">01 STUDENT CAREER</div>
			<ul>
				<small>Bachelor's degree</small>
				<li><span>ANALYSIS 1</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="93%" height="13%" fill="#b14d35"/></svg></li>
				<li><span><a href="https://github.com/blackwiz4rd/JavaBasics">PROGRAMMING BASICS</a></span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="93%" height="13%" fill="#b14d35"/></svg></li>
				
				<li><span>PHYSICS 1</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="90%" height="13%" fill="#b14d35"/></svg></li>
				<li><span>COMPUTER ARCHITECTURE</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="67%" height="13%" fill="#b14d35"/></svg></li>
				<li><span>LINEAR ALGEBRA AND GEOMETRY</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="60%" height="13%" fill="#b14d35"/></svg></li>
				
				<li><span>ANALYSIS 2</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="60%" height="13%" fill="#b14d35"/></svg></li>
				<li><span>PHYSICS 2</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="77%" height="13%" fill="#b14d35"/></svg></li>
				<li><span><a href="https://github.com/blackwiz4rd/Data-structures-and-Algorithms">DATA STRUCTURES AND ALGORITHMS</a></span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="100%" height="13%" fill="#b17d35"/></svg></li>
				
				<li><span>SIGNALS AND SYSTEMS</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="70%" height="13%" fill="#b14d35"/></svg></li>
				<li><span>DATA ANALYSIS</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="67%" height="13%" fill="#b14d35"/></svg></li>
				<li><span>ELECTRICAL ENGIGNEERING</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="73%" height="13%" fill="#b14d35"/></svg></li>

				<li><span>SYSTEMS AND MODELS</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="66%" height="13%" fill="#b14d35"/></svg></li>
				<li><span>CONTROL THEORY</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="70%" height="13%" fill="#b14d35"/></svg></li>
				<li><span>ELECTRONICS</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="60%" height="13%" fill="#b14d35"/></svg></li>
				<li><span><a href="https://github.com/blackwiz4rd/Internet-and-Multimedia">INTERNET AND MULTIMEDIA LABORATORY</a></span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="100%" height="13%" fill="#b17d35"/></svg></li>
				<li><span>PROJECT MANAGEMENT</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="90%" height="13%" fill="#b14d35"/></svg></li>

				<li><span>DIGITAL ELECTRONICS</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="66%" height="13%" fill="#b14d35"/></svg></li>
				<li><span>TELECOMMUNICATIONS</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="60%" height="13%" fill="#b14d35"/></svg></li>
				<li><span>ALGORITHMS FOR ENGINEERING</span><svg class="rectangle"><rect width="100%" height="13%" fill="#712a1a"/><rect width="100%" height="13%" fill="#b14d35"/></svg></li>
			</ul>
			<ul>
				<small>Master's degree</small>
				<li>
					<span>NETWORK SCIENCE</span>
					</br><span><i>Project: "HitMe: A map based social network"</i></span>
					</br><span><a href="https://github.com/blackwiz4rd/NetworkScience/blob/master/hw1/NetworkScience9:10.pdf">Homework 1: network analytics</a></span>
					</br><span><a href="https://github.com/blackwiz4rd/NetworkScience/blob/master/hw2/NetworkScience10+:10.pdf">Homework 2: ranking, link prediction, epidemics</a></span>
				<svg class="rectangle"><rect width="100%" height="13%" fill="#111e6c"/><rect width="97%" height="13%" fill="#0080ff"/></svg></li>
				<li>
					<span>3D AUGMENTED REALITY</span>
					</br><span><i><a href="https://github.com/blackwiz4rd/AugmentedReality/blob/master/A3.attanasio_savio.pdf">
					Project: "Stereo disparity computation from projected random dot pattern"
					</a></i></span>
				<svg class="rectangle"><rect width="100%" height="13%" fill="#111e6c"/><rect width="90%" height="13%" fill="#0080ff"/></svg></li>
				<li>
					<span>MACHINE LEARNING</span>
					<span><a href="https://github.com/blackwiz4rd/MachineLearning/tree/master/lab1_assignment">Homework 1: Classification, Polynomial regression, Regression</a></span>
					<span><a href="https://github.com/blackwiz4rd/MachineLearning/tree/master/HW2_package">Homework 2: SVM classification, Regularized classification</a></span>
					<span><a href="https://github.com/blackwiz4rd/MachineLearning/tree/master/Homework%203">Homework 3: Neural networks, Clustering</a></span>
				<svg class="rectangle"><rect width="100%" height="13%" fill="#111e6c"/><rect width="93%" height="13%" fill="#0080ff"/></svg></li>
				<li>
					<span>TELECOMMUNICATION NETWORKS</span>
					<span><a href="https://github.com/blackwiz4rd/TileRateSelector_360videos/blob/master/AttanasioLuca_1.c.pdf">Project: "Tile rate selection for 360 Video Streaming to Head-Mounted Displays"</a></span>
					<span><a href="https://github.com/blackwiz4rd/TileRateSelector_360videos/blob/master/AttanasioLuca_1.c_presentation.pdf">Slides: " "</a></span>
				<svg class="rectangle"><rect width="100%" height="13%" fill="#111e6c"/><rect width="100%" height="13%" fill="#00d0ff"/></svg></li>
				<li>
					<span>HIGH LEVEL PROGRAMMING</span>
					<span><a href="https://github.com/blackwiz4rd/tagServer-IoT">Server of Project: "A practical approach to RFID tags"</a></span>
					<span><a href="https://github.com/blackwiz4rd/tagClient-IoT">Client of Project: "A practical approach to RFID tags"</a></span>
					<svg class="rectangle"><rect width="100%" height="13%" fill="#111e6c"/><rect width="100%" height="13%" fill="#00d0ff"/></svg>
				</li>
				<!-- second semester second year -->
				<li>
					<span>INTERNET OF THINGS</span>
					<span><a href="https://github.com/blackwiz4rd/tagServer-IoT">Server of Project: "A practical approach to RFID tags"</a></span>
					<span><a href="https://github.com/blackwiz4rd/tagClient-IoT">Client of Project: "A practical approach to RFID tags"</a></span>
					<svg class="rectangle"><rect width="100%" height="13%" fill="#111e6c"/><rect width="100%" height="13%" fill="#0080ff"/></svg></li>
				</li>
				<li>
					<span>DATABASE MANAGEMENT SYSTEMS</span>
					<span>Project: A Sagra database management system</span>
					<svg class="rectangle"><rect width="100%" height="13%" fill="#111e6c"/><rect width="93%" height="13%" fill="#0080ff"/></svg></li>
				</li>
				<li>
					<span>COMPUTER VISION</span>
					<span><a href="https://github.com/blackwiz4rd/ComputerVision">Laboratories</a></span>
					<span><a href="https://github.com/blackwiz4rd/CoinsDetector">Project: Coins detection and classification</a></span>
					<svg class="rectangle"><rect width="100%" height="13%" fill="#111e6c"/><rect width="90%" height="13%" fill="#0080ff"/></svg></li>
				</li>
				<li>
					<span>WEB APPLICATIONS</span>
					<span><a href="https://github.com/blackwiz4rd/CoinsDetector">Project: CLEF visualization</a></span>
					<svg class="rectangle"><rect width="100%" height="13%" fill="#111e6c"/><rect width="0%" height="13%" fill="#0080ff"/></svg></li>
				</li>
			</ul>
	</div>
</div>

<div id="bg3">
	<div id="paragraph-three" name="paragraph-three">
		<div class="title">02 PORTFOLIO</div>
			<span>MY LATEST WORKS ON GITHUB:</span></br>
				<a href="https://github.com/blackwiz4rd"><img src="{% static "home/imgs/github.png"%}"/></a>
	</div>
</div>

<div id="paragraph-four">
	<div class="title">03 EXPERIENCE</div>
		<span>I HAVE NEVER WORKED, I WANT TO IMPROVE MY SKILLS WITH AN INTERNSHIP FIRST.</span>
		<div id="box1">
			<div class="boxTitle">
				<div class="textColor">2002-2007</div></br>Primary school
			</div>
		</div>
		
		<div id="box2">
			<div class="boxTitle">
				<div class="textColor">2007-2010</div></br>Secondary school
			</div>
			<span>MARK: 8/10</span>
		</div>
		
		<div id="box1">
			<div class="boxTitle">
				<div class="textColor">2010-2015</div></br>Science and technology high school
			</div>
			<span>MARK: 82/100</span>
		</div>


		<div id="box2">
			<div class="boxTitle">
				<div class="textColor">2015-2018</div></br>BACHELOR'S DEGREE
			</div>
			<span>Information technology</span>
			<span>FINAL EXAM: 89/110</span>
		</div>

		<div id="box1">
			<div class="boxTitle">
				<div class="textColor">2018-NOW</div></br>MASTER'S DEGREE
			</div>
			<span>ICT for internet and multimedia</span>
		</div>
</div>

<div id="paragraph-five">
	<h1>CONTACT ME</h1>
	<span class="email"><a>click to show email</a></span>

   <form method="post" action="/send_email/">
		{% csrf_token %}
		<span>- NOT WORKING BECAUSE OF GMAIL RESTRICTIONS -</span></br>
		<span>Email</span></br>
        <input type="text" name="email" class="inputObject"></br>
		<span>Subject</span></br>
        <input type="text" name="subject" class="inputObject"></br>
        <span>Content</span></br>
        <textarea name="content" class="inputContent"></textarea></br>
        <input type="submit" name="send">
    </form> 
</div>

<div id="blank"></div>
{% endblock %}


