{% extends "base.html" %}

{% block title %}blackwiz4rd - Luca Attanasio{% endblock %}

{% block content %}

{% load instagram_client %}

{% instagram_user_recent_media luca_attanasio %}

<div id="django_recent_media_wall">
  {% for media in recent_media %}
    <div class="django_instagram_media_wall_item">
      <a href="{{ media.display_src }}" target="_blank" title="{{ media.caption }}">
        <img src="{{ media.thumbnail_src }}"/>
        <span><b>luca_attanasio</b> {{ media.caption }}</span>
      </a>
    </div>
  {% endfor %}
</div>


{% endblock %}


