/*
$(document).ready(function(){
        $('#bg1').parallax({imageSrc: '{% static "home/imgs/bg.jpg"%}'});
        $('#bg2').parallax({imageSrc: '{% static "home/imgs/bg5.jpg"%}'});
        $('#bg3').parallax({imageSrc: '{% static "home/imgs/bg2.jpg"%}'});
    })
sidebar footer and paragraph-two not aligned

*/

@media screen and (min-width: 320px) and (max-width: 1024px){
	#welcome{
		font-size: 10vw !important;
	}

	#nav li{
		display: list-item !important;
		padding-right: 0 !important;
		margin-top: 1%;
	}

	#paragraph-one, #paragraph-two, #paragraph-three, #paragraph-four, #paragraph-five, #django_recent_media_wall{
		width: 95% !important;
	}

	#paragraph-two span{
		display: block !important;
		float: none !important;
	}

	#paragraph-two ul{
		text-align: center !important;
	}
}

@media screen and (min-device-width: 400px) and (max-device-width: 1024px) {
	#welcome{
		font-size: 10vw !important;
	}


	#nav li{
		display: list-item !important;
		padding-right: 0 !important;
		margin-top: 1%;
	}

	#paragraph-one, #paragraph-two, #paragraph-three, #paragraph-four, #paragraph-five, #django_recent_media_wall{
		width: 95% !important;
	}

	#paragraph-two span{
		display: block !important;
		float: none !important;
	}

	#paragraph-two ul{
		text-align: center !important;
	}

}

@font-face {
  	font-family: 'AvenirLTStd-Light';
  	src: url('fonts/AvenirLTStd-Light.otf') format('opentype');
}

@font-face {
	font-family: "Ganymedian";
	src: url('fonts/Ganymedian.ttf') format('truetype');
}

body{
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("imgs/bg.jpg");
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;

	font-family: "AvenirLTStd-Light";
	color: white;
    /*parallax effect*/
    margin: 0 auto;
}

#content{
}

/*OVERALL STYLE*/
a{
	color: white;
    text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
a.scroll:hover{
	cursor: pointer;
}
#paragraph-five a{
	cursor: pointer;
}
a:visited{
	color: white;
}
a:hover{
	color: #ff3100;
}
#paragraph-two a{
	color: #9e9e9e;
}
#paragraph-two a:hover{
	color: white;
}

/*MINIMAL ELEMENTS*/
#nav{
	background-color: rgba(012, 0, 0, 0.4);
	/*display: flex;
  	flex-flow: column; 	*/
  	padding-top: 1%;
  	padding-bottom: 1%;
}

#nav ul{
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}

#nav li{
    display: inline-block;
    letter-spacing: 2px;
}

#nav li + li{
	margin-left: 3%;
}

#nav img{
	width:40px;
	height:40px;
	vertical-align: middle;
}

#footer{
	/*background-color: rgb(130, 31, 31);*/
	background-color:rgba(45, 52, 70, 1);
	position:absolute;
	width: 100%;
}

#footer li{
	color:rgba(133, 142, 158, 1);
	font-size: 14px;
}

#footer li + li, #footer a + a{
	margin-left: 3%;
}

#footer ul{
	list-style-type: none;
	margin-top: 1%;
	padding-left: 0;
	text-align: center;
}

#footer li{
	margin-top: 2%;
    display: inline-block;
    letter-spacing: 2px;

    position: relative;	
}

#footer img{
	width:40px;
	height:40px;
	float: left;
}

#welcome{
	font-family: "Ganymedian";
	/*font-size: 100px;*/
	font-size: 6vw;
	text-align: left;
	/*font-weight: 900;*/
	letter-spacing: 2vw;

	display: table;

	padding-top: 5%;
	margin: 0 auto;
	width: 45%;
}

h1{
	margin-top: 3%;
	font-family: "AvenirLTStd-Light";
	font-size: 35%;
	/*font-size: 30px;*/
	letter-spacing: 5px;
}

.textColor{
	color: rgba(197, 95, 71, 1);
}

/*PARAGRAPHS*/
#paragraph-one, #paragraph-two, #paragraph-three, #paragraph-four, #paragraph-five, #django_recent_media_wall{
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;

	width: 50%;
	margin: 0 auto;
}

#paragraph-one, #paragraph-five, #django_recent_media_wall{
	/*background-color: rgb(130, 31, 31);*/
	background-color:rgba(45, 52, 70, 1);
}

#paragraph-one span/*, div.django_instagram_media_wall_item span*/{
	 display: block;
	 padding-bottom: 14%;
	 margin-left: 30%;
	 margin-right: 30%;
}

#paragraph-one img, #paragraph-five img{
	width:7%;
	height:7%;
}

#paragraph-two {
	width: 95% !important;
}

#paragraph-two ul{
	text-align: right;
	list-style-type: none;
	padding-left: 0;
	float: left;
	width: 50%;
}

#paragraph-two li {
	padding-left: 30px;
}

#paragraph-two span{
	float: left;
}

#paragraph-three {
	clear:both;
}

#paragraph-three img, #paragraph-four img{
	width:30%;
	height:30%;
}

#paragraph-five h1{
	font-size: 2em;
}
/*END PARAGRAPHS*/

/*PARAGRAPH ELEMENTS*/
/*PARAGRAPH ONE*/
input[type=submit]:hover, button:hover{
	background-color: rgba(197, 95, 71, 1);
	cursor: pointer;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

	 -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=submit], button{
	border-color: rgba(197, 95, 71, 1); 
	border-style: solid;
	border: none;
	font-size: 18px;
	padding: 15px 32px;
	color: rgba(45, 52, 70, 1);
}
/*PARAGRAPH TWO*/

/*PARAGRAPH THREE*/
#paragraph-three img{
	margin-top: 2%;
	transition: all .2s ease-in-out; 
}

#paragraph-three img:hover{
	transform: scale(1.04);
}

/*PARAGRAPH TWO-THREE*/
.title{
	font-family: "Ganymedian";
	font-size: 5.5vw;
	font-weight: 900;
	letter-spacing: 8px;
}

/*PARAGRAPH FOUR*/
.boxTitle{
	font-family: "Ganymedian";
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 4px;
	margin-bottom: 4%;
}

#box1{
	margin-left: 30%;
	margin-top: 10%;
}
#box2{
	margin-right: 30%;
	margin-top: 10%;
}

/*BACKROUNDS*/
/*div.django_instagram_media_wall_item img{
	border-color: white;
	border-style: solid;
	border-width: 1px;
	width: 40%;
	height: 40%;
}*/
/*END PARAGRAPH ELEMENTS*/

/*ADDITIONAL ELEMENTS*/
.rectangle{
	width: 45%;
}

form{
	margin-top: 3%;
}
form span{
	margin-top: 2%;
}
.inputContent, .inputObject{
	font-size: 16px;
	margin-top: 3%;
	margin-bottom: 3%;
	width: 70%;
	height: 300px;
}

.inputObject{
	height: 40px;
}

#footer img{
	transition: all .3s ease-in-out; 
	width: 40px;
	height: 40px;
}
#footer img:hover{
	transform: scale(1.3);
}

#blank{
	padding-bottom: 5%;
}